.flex_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.body {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}

.glass_body {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(7px);
}
